
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Raw(ViewBag.MongoData)
    </div>
    <br />
    <p>
        @Html.Raw(ViewBag.SQLData)
    </p>
</body>
</html>
